body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
#cl{
    background-color:midnightblue;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 40%;

}

body>h1{
    padding: 10px;
    font-family: Raleway , sans-serif;
    color: midnightblue;
    text-align: center;
}

#list li {
    list-style: none;
    text-align: left;
    border-bottom: 1px solid mintcream;
}

.paradiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    width: 80%;
    display: inline-block;
}
.paradiv:hover{
    background-color: rgba(9, 19,36, 0.6);
}

#list li p{
    color: white;
    font-size:1rem;
    padding: 10px;
    display: inline-block;
    
}

#list li p:nth-child(2){

float:right;
    
}

.delete {
    
    text-decoration: none;
    display: inline-block;
    color:white;
    font-size: 1.5em;
    background-color: transparent;
    width: 20px;
    height: 20px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 30px;
    
}

.clr{
    clear: both;
}

.btn{
    border-radius:7px;
    border: 2px solid transparent;
    color:white;
    font-size: 0.8em;
    margin-right:30px;
    margin-top: 30px;
    width:120px;
    padding:10px 5px;
    background-color: rgb(9,19,36);
    font-family: Raleway , sans-serif;
}

.btn:hover{
     color:rgb(9, 19,36);
     background-color: whitesmoke;
     border: 2px solid rgb(9, 19,36);
}


.contain{
    
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    display: table;
    width: 40%;
    height: 100px;
    margin: auto;
    box-shadow: 0px 3px 4px 6px grey;
    background-color:white;

}

.contain .form1{
    width: 50%;
    height: 80px;
    margin-top: 0px;
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid grey;
    /* flex: 1; */
  display: table-cell;
  border-right: 1px solid grey;
 
 }

 .contain .form1:hover{
    background-color: rgba(163, 158, 158 , 0.3);
 }

 .contain .form2{
    width: 50%;
    height: 80px;
    margin-top: 0px;
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid grey;
    /* flex: 1; */
    display: table-cell;

 }

 .contain .form2:hover{
    background-color: rgba(163, 158, 158 , 0.3);
 }

.catg{
    color: rgba(128, 128, 128,0.8);
}

::placeholder{
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: 20px;
}

